---
import Layout from "@/layouts/Layout.astro";
import Head from "@/components/Head.astro";
import Title from "@/components/Title.astro";
import { Image, Picture } from "astro:assets";
import Shantanu from "/src/assets/img/Shantanu.png";
import Anima from "/src/assets/img/Anima.png";
import github from "/src/assets/img/github.svg";
import blur from "/src/assets/img/bg.png";

export const prerender = true;
---

<Head title="About" />
<Layout class="relative">
  <div class="grid mt-[11.1111%] content-center">
    <Title text="About" />
  </div>
  <!-- ABOUT ME -->
  <section class="grid content-start px-3 lg:px-0 mb-[5rem] text-white">
    <Image
      src={blur}
      class="fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
      alt="blur background"
    />
    <div class="grid grid-flow-col auto-cols-auto content-center mt-20">
      <div class="grid lg:grid-cols-2 blur-bg rounded-xl p-5 lg:py-24 lg:px-16">
        <div class="grid justify-center content-center mb-5 lg:mb-0">
          <Picture
            class="object-cover rounded-full ring-8 ring-white/80 w-full h-full max-w-[200px] max-h-[200px] lg:max-w-[250px] lg:max-h-[250px]"
            src={Shantanu}
            formats={["avif", "webp"]}
            width="300"
            height="300"
            alt="Shaantanu Ray"
          />
        </div>

        <div class="grid justify-center content-center">
          <h6
            class="text-4xl lg:text-5xl font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0"
          >
            Shaantanu Ray
          </h6>
          <div class="text-xl font-light text-zinc-200 max-w-xl mt-5">
            <p>
              Shaantanu gave up his career, one as a research Scientist
              (Oceanographer) in Australia, to chase his ultimate ambition of
              making films.
            </p>
            <p class="mt-5">
              Shaantanu ventured into feature film making in 2009 and has been
              writing and directing since then.
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="grid content-start px-3 lg:px-0 mb-[5rem] text-white">
      <Image
        src={blur}
        class="fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
        alt="blur background"
      />
      <div class="grid grid-flow-col auto-cols-auto content-center mt-20">
        <div
          class="grid lg:grid-cols-2 blur-bg rounded-xl p-5 lg:py-24 lg:px-16"
        >
          <div class="grid justify-center content-center mb-5 lg:mb-0">
            <Picture
              class="object-cover rounded-full ring-8 ring-white/80 w-full h-full max-w-[200px] max-h-[200px] lg:max-w-[250px] lg:max-h-[250px]"
              src={Anima}
              formats={["avif", "webp"]}
              width="300"
              height="300"
              alt="Shaantanu Ray"
            />
          </div>

          <div class="grid justify-center content-center">
            <h6
              class="text-4xl lg:text-5xl font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0"
            >
              ANIMA PAGARE
            </h6>
            <div class="text-xl font-light text-zinc-200 max-w-xl mt-5">
              <p>
                She is the main lead in the National Award-Winning Film Bhoolan-
                The Maze, while also touring the theatre circuit as a cast
                member for the acclaimed play Lassanwala.
              </p>
              <p class="mt-5">
                Her interest in poetry led her to being a lyricist and she has
                put words to music as the solo lyricist for the musical web
                series Rockers (10 tracks) apart from being a co-writer on the
                show as well. She is also the co-writer and lyricist (3 tracks)
                for the feature film Kaboom.
              </p>
              <p class="mt-5">
                She has co-written the web series The New Delhi Conspiracy, and
                her upcoming feature as a co-writer is Chhupanchhupai and
                Trapped.
              </p>
              <p class="mt-5">
                Anima has also written the story and the dialogues for the
                upcoming feature Maya Aranya.
              </p>
              <p class="mt-5">
                Apart from web series and features she has written the
                advertising campaign films for Lavna Locks and Paula’s Perrywigs
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</Layout>
