---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <body
    class="cursor-default relative container xl:max-w-7xl md:px-5 mx-auto tracking-wide text-zinc-200 bg-[#3F52B1]"
  >
    <Header />
    <div class="md:flex md:flex-col md:min-h-full">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  @font-face {
    font-family: "Engravers Gothic Regular";
    src: url("/Engravers' Gothic Regular.otf");
  }

  body {
    font-family: "Engravers Gothic Regular", sans-serif;
  }
</style>
